                <div class="nav_item">
                    <div class="row" >
                        <div class="col-md-4" style="width: 70%"><img
                                src="{{ img }}"
                                height="94" width="168"></div>
                        <div class="col-md-8">
                            <div><span>{{ title }}</span></div>
                            <div>
                            <button id="play" type="button" class="btn btn-success"
                                    onclick="btnClick('{{ link }}','{{ id }}','{{ title }}','{{ img }}')">Play
                            </button>
                            <button id="queue" type="button" class="btn btn-success"
                                    onclick="btnAdd('{{ link }}','{{ id }}','{{ title }}','{{ img }}')">Queue
                            </button>
                            </div>
                        </div>
                    </div>
                </div>